html {
    background-image: url("https://wallpaperaccess.com/full/439038.jpg");
}

body {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

header {
    width: 100%;
    text-align: center;
    background-color:transparent;
    height: 100px;
}


header h1 {
    margin: 0 auto;
    width: 600px;
    color: white;
    padding-top: 20px;
}

 h2 {
    padding-left: .5em;
    text-align: center;
    color: white;

}

p {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: white;
}
