@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    background-color: crimson;
    
}
body {
    width: auto%;
    height: auto;
    background-color: rgb(0, 0, 0);
  }

header {
    width: 100%;
    text-align: center;
    height: 100px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

header h1 {
    margin: auto;
    font-size: 50px;
    color: white;
    padding-top: 20px;
}
h2 {
    padding-left: .5em;
    text-align: center;
    color: white;
}
h3 {
    padding-left: .5em;
    text-align: center;
    color: white;
}
p {
    color: white;
    text-align: center;
}